.linechart{
    width:45%;
    background-color: white;
    z-index: 1;
    position: absolute;
    left:0;
    margin-top: 20%;
    margin-left:20%;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 20px;
}