.navbar{
  display: flex;
  flex-direction:column ;
  background-color: rgb(51, 189, 243);
  padding-bottom: 100px;
  .top{
    color: white;
    display: flex;
    align-items: center;
    margin-top: 1%;
    justify-content:space-between;
    margin-left:20%;
    .left{
      align-items: center;
      display: flex;
    }
    .right{
      width: 40%;
      justify-content: center;
      align-items: center;
      display: flex;
      .search {
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        padding: 3px;
        background-color: white;
        color:black;
        border-radius: 12px;
        input {
          border: none;
          outline: none;
          background: transparent;
          &::placeholder {
            font-size: 14px;
            color:gray;
          }
          padding: 10px;
        }
      }
      .account{
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      div{
        cursor: pointer;
        margin: 0 4px;
        padding: 0 5px;
      }
      .notif{
        cursor: pointer;
        margin-right: 3%;
      }
    }
  }
  .down{
    display: flex;
    margin-top: 3%;
    margin-left:17%;
    .box{
      display: flex;
      height: fit-content;
      width: 25%;
      justify-content: space-between;
      background-color: white;
      border-radius: 12px;
      margin:0 10px;
      padding:20px 20px;
      .circle{
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
      .text{
        color: gray;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        .second{
          font-size: 25px;
          color: black;
          font-weight:bolder;
        }
      }
    }
  }
}